@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topnav {
    background-color: rgb(247, 236, 166);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(245, 229, 125);
    color: black;
  }

  .image {
    width: 300px;
    height: 100px;
  }

  .book {
    width: 150px;
    height: 200px;
    justify-content: space-around;
  }

  .page_background {
    background-color: rgb(247, 236, 166);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .card {
    position:relative;
    display:block;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:rgb(247, 236, 166);;
    background-clip:border-box;
    border-radius:.25rem;
    width: 9.5rem; 
    height: 15rem;
    font-size: 9px;
    font-family: "Roboto", sans-serif;
  }

  .text {
    font-size: 14px;
    justify-content: center;
    font-weight: bold;
  }

  body {
    margin: 0;
    height: 100vh;
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-left: 70px;
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    width: 25%;
    height: 100px;
  }

  .books-div {
    display: flex;
    flex-direction: row;
  }

  .side-book {
    width: 200px;
    height:300px;
  }

  .other-text {
    font-size:20px;
    white-space:nowrap;
  }

  @media only screen and (max-width: 900px) {
    body {
      width: 100vh;
      margin: 0;
      overflow-y: hidden;
    }
    .main {
      width: 50%;
    }
  
    .side-bar {
      width: 10%;
      height: 50px;
      justify-content:center;
      align-items: flex-end;
    }
    .image {
      width: 200px;
      height: 100px;
    }
    .font {
      font-size: 30px;
    }
    .book {
      width: 80px;
      height: 100px;
    }

    .side-book {
      width: 80px;
      height: 100px;
    }

    .text {
      font-size: 7px;
    }

    .card {
      width: 5rem; 
      height: 10rem;
    }

    .other-text {
      font-size:9px;
    }


  }