.topnav {
    background-color: rgb(25, 62, 248);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:rgb(251, 127, 3);
    color: white;
  }

  .page_background {
    background-color: rgb(166, 185, 247);
    border: 5px solid rgb(25, 62, 248);
    width: 99%;
    height: 630px;
  }

  .image {
    width: 300px;
    height: 100px;
    align-items: center;
  }
