.topnav {
    background-color: rgb(251, 3, 3);
    overflow: hidden;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:rgb(251, 127, 3);
    color: white;
  }

  .image {
    width: 500px;
    height: 200px;
    align-items: center;
  }

  .page_background {
    background-color: rgb(247, 166, 166);
    border: 5px solid rgb(251, 3, 3);
    width: 99.3%;
    height: 644px;
    display: flex;
    flex-direction: row;
  }

  .book {
    width: 150px;
    height: 200px;
    justify-content: space-around;
  }

  .font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
  }

  .button {
    width: 200px;
    height: 50px;
    background-color: rgb(244, 106, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .main {
    justify-content: space-evenly;
    text-align: center;
    width: 70%;
  }

  .side-bar {
    justify-content: space-evenly;
    width: 30%;
  }

  body {
    margin: 0;
  }
