@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topnav {
    background-color: #fcc572;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fdb242;
    color: black;
  }

  .table {
    width: 100vw;
    height: 100vh;
    background-color: #fcc572;
    align-items: center;
  }

  .image {
    width: 300px;
    height: 100px;
  }

  .date {
    width: 500px;
    height: 92px;
    border: 1px solid rgb(251, 127, 3);
    background-color: #f6d3a0;
    justify-content: space-around;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-align: center;
  }

  .event {
    width: 1000px;
    height: 30px;
    border: 1px solid rgb(251, 127, 3);
    background-color: #f6d3a0;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  body {
    margin: 0;
  }

  @media only screen and (max-width: 600px) {
    body {
      width: 99%;
    }
    
  }