.topnav {
    background-color: rgb(171, 4, 254);
    overflow: hidden;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(242, 166, 247);
    color: black;
  }
  
  .page-background {
    background-color: rgb(242, 166, 247);
    border: 5px solid rgb(171, 4, 254);
    width: 99.3%;
    height: 645px;
    text-align: center;
    align-items: center;
  }

  body {
    margin:0;
  }

  .image {
    width:700px;
    height:300px;
  }

  .text {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .big-text {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
