@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.topnav {
    background-color: rgb(242, 166, 247);
    overflow: hidden;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(244, 130, 252);
    color: black;
  }
  
  .page-background {
    background-color: rgb(242, 166, 247);
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    padding: 0px;
  }

  body {
    margin:0;
  }

  .image {
    width:700px;
    height:300px;
  }

  .text {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
  }

  .big-text {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
  }

  @media only screen and (max-width: 600px) {
    body {
      width: 99%;
    }

    .image {
      width:400px;
      height:200px;
    }
  }
